---
name: Lint

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  yamllint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Run yamllint
        uses: frenck/action-yamllint@v1.5.0

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: "Dockerfile"
          failure-threshold: warning
